.overlayControl { 
    direction: ltr;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    position: relative;
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 13px; 
    padding-top: 1px;
    padding-right: 6px;
    padding-bottom: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid; 
    border-top-color: rgb(113, 123, 135);
    border-right-color: rgb(113, 123, 135);
    border-bottom-color: rgb(113, 123, 135); 
    border-left-color: rgb(113, 123, 135); 
    border-image: initial; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px; 
    box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px; 
    min-width: 50px; color: rgb(0, 0, 0);
    padding-left: 6px; 
    background-image: initial;
    background-attachment: initial;
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(255, 255, 255); 
    background-position: initial initial; 
    background-repeat: initial initial; 
    cursor:pointer;
}

.addBtn {
    background: url(resources/drop-add.gif) no-repeat center center;
}

.ico-test { background-color:#352788; width:15px; height:15px; background-image:none !important; }

div [id^='form-'] *{box-sizing:border-box !important;-moz-box-sizing:border-box !important;-ms-box-sizing:border-box !important;-webkit-box-sizing:border-box !important;}

#map_canvas *{box-sizing:content-box;-moz-box-sizing:content-box;-ms-box-sizing:content-box;-webkit-box-sizing:content-box}

div.infowindow {
    overflow-y:scroll;
}

#map-copyright {
	height: 19px; 
	-webkit-user-select: none;
	line-height: 19px;
	padding-right: 2px;
	padding-left: 2px;
	background-image: linear-gradient(bottom, rgb(222,222,222) 40%, rgb(199,199,199) 70%);
	background-image: -o-linear-gradient(bottom, rgb(222,222,222) 40%, rgb(199,199,199) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(222,222,222) 0, rgb(199,199,199) 0.496094);
	background-image: -webkit-linear-gradient(right, rgba(255,255,255,0.496094) 30%, rgba(255,255,255,0.496094) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(222,222,222) 40%, rgb(199,199,199) 70%);
	font-family: Arial, sans-serif; 
	font-size: 10px; color: rgb(68, 68, 68); 
	white-space: nowrap;
	direction: ltr; 
	text-align: right; 	background-position: initial initial; 
	background-repeat: initial initial;
}

.labels {
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif; 
	text-align: center;
	vertical-align: middle;
	white-space: wrap;
	width: 100px;
}

.infoWindowIcn {
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: right;
	margin: 2px;
}